/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
  min-height: 98vh;
}.custom-modal {
  max-width: 400px;
}

.custom-modal .modal-content {
  width: 500px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  background-image: url("./assets/bacckground.webp");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

/* Optional dark overlay for readability */
.custom-modal .modal-content::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* Make content appear above overlay */
.custom-modal .modal-header,
.custom-modal .modal-body,
.custom-modal .modal-footer {
  position: relative;
  z-index: 2;
}
.fist{
  height: 500px;
}
.modifpadding{
  padding: 7rem !important;
  height: 100% !important;
  /* background-image: url("./assets/humor.avif");
  background-size: cover;
  background-position: center; */
}